@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-style: lato, sans;
    font-weight: 300;
    color: #3a3a3a;
}

/* Style setting for Header and Logo */

h1, h2, h3, h4 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    color: #252525;
    padding-left: 30px;
}

/* nav bar styling */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image background and cover text */

#hero-text, #cover-text h2, #cover-text h3 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-logo.png") no-repeat center center;
    clear: both;
}

#cover-text {
    font-size: 130%;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 300px;
    height: 150px;
    
    padding-top: 25px;
    background-color: rgba(34,139,34,.6);
    border-radius: 40px;

    bottom: 10px;
    right: 125px;

    position: absolute;
}

/* about us section */

#about-us {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    font-family: Merriweather, sans-serif;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    font-family: Merriweather, sans-serif;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
    margin-bottom: 30px;
    background-color: rgba(241, 109, 107, .7)
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/team.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* find us section */

#find-us {
    height: 500px;
    width: 100%;
    clear: both;
}

#left-map {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

#right-map {
    width: 50%;
    box-sizing: border-box;
    font-size: 250%;
    margin: auto 0;
    padding: 150px;
    color: #3a3a3a;
    float: left;
    text-align: center;
}

/* footer section */

footer {
    height: 150px;
    background-color: rgba(241, 109, 107, .7)
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* schedule page*/

#schedule {
    height: 600px;
}

#schedule-left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: rgba(34,139,34,.6);
}

#schedule-right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#schedule-center-about {
    width: 33%;
    margin: 0 auto; 
}

#schedule-center-about-img {
    padding-left: 25px;
}

#schedule-welcome {
    clear: both;
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
    margin-bottom: 30px;
    background-color: rgba(241, 109, 107, .7)
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

#schedule-left-about h3, h4 {
    text-align: center;
}

#regional {
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    list-style-type: none;
}

#drop {
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    list-style-type: none;
}

/* schedule right about table */

table {
	width: 100%;
    padding-right: 15px;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

/* gallery section */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;  
}

/* contact page form */

.form {
    clear: left;
    background: url("../images/baseball.png");
    background-size: cover;
    background-position: center;
    height: 600px;
}

#contact-form {
    color: #fafafa;
    padding-left: 30px;
    padding-top: 15px;
    margin-top: 10px;
}

#contact-form h2 {
    color: #3a3a3a;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

#contact {
    float: right;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: right;
    margin-top: 100px;
}

#email {
    width: 33%;
    font-size: 110%;
    font-family: Merriweather, sans-serif;
    color: #fff;
}

/* media querries */

/* for medium to large screen size */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;

    }

    hr {
        display: none;
    }
}

/* for medium screen sizes of 950px and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #photos {
        column-count: 3;
    }
}

/* mobile screen max width 800 px */

@media screen and (max-width: 800px){
    #photos {
        column-count: 2;
    }
}