@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    overflow: auto;
    font-style: lato, sans;
    font-weight: 300;
    color: #3a3a3a;
}

#page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
  }

/* Style setting for Header and Logo */

h1,
h2,
h3,
h4 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.nav-list {
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item a {
    margin-right: 4rem;
    color: #3a3a3a;
    font-size: 150%;
}

.nav-item a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 4rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image background and cover text */

.hero {
    display: flex; 
    height: 600px;
    justify-content: center;
  }
  
  .hero-text,
  .hero-text h2,
  .hero-text h3 {
      color: #fff;
  }
  
  .hero-image {
      width: 100vw;
      height: auto;
      background: url("../images/hero2.webp") no-repeat center center;
      clear: both;
  }
  
  .hero-text {
      font-size: 130%;
      font-family: Merriweather, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      
      width: 200px;
      height: 150px;
      padding: 2rem;
      background-color: rgba(34, 139, 34, .6);
      border-radius: 40px;
      align-items: center;
      margin-right: 4rem;
  
      transform: translate(-175px, 300px);
  }

/* about us section */
/* This section uses structure and code found in the 'love running' example project on the Code Institute learning platform */
.about-us {
    height: 600px;
    font-family: Merriweather, sans-serif;
    line-height: 20px;
    display: flex;
}

.l-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.r-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.c-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.l-about-item {
    width: 60%;
    float: right;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.r-about-item {
    width: 60%;
    float: left;
    clear: both;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.welcome {
    text-align: center;
    color: #fff;
    margin: 20px 0;
    font-size: 200%;
    margin-bottom: 30px;
    background-color: rgba(244, 10, 10, .6);
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/team.webp") no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* find us section */

.map {
    height: auto;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    justify-content: space-around; 
  }
  
  .map-item a {
    margin-right: 4rem;
  }
  
  .map-item img {
    margin-right: auto;
    background-size: contain;
  }
  
  .map-item a {
    font-size: 300%;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
  }

/* footer section */
/* This section uses structure and code found in the 'love running' example project on the Code Institute learning platform */

.social-networks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    position: absolute;
    width: 100%;
    background-color: rgba(244, 10, 10, .6);
    list-style-type: none;
    text-decoration: none;
}

.social-networks-item a {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* schedule page*/

#schedule-welcome {
    clear: both;
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
    margin-bottom: 30px;
    color: #fff;
    background-color: rgba(244, 10, 10, .6);
}

#schedule {
    height: 620px;
    width: 100%;
}

/* The code below inspired by/taken from w3schools.com/howto_css_side_by_side */
.row {
    display: flex;
    clear: both;
}

.column {
    flex: 33%;
    padding: 2px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.container {
    display: flex;
    clear: both;
}

.container-column {
    flex: 33%;
    padding: 4px;
    text-align: center;
    margin-bottom: 10px;
    clear: both;
}

/* schedule table */

table {
    width: auto;
    background-color: rgba(34, 139, 34, .6);
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

/* gallery section */
/* This section uses structure and code found in the 'love running' example project on the Code Institute learning platform */
#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
}

#gallery>img {
    width: 100%;
    height: auto;
    padding: 2px;
}

/* contact page form */
/* This section uses structure and code found in the 'Coders Cafe' example project on the Code Institute learning platform */
.form {
    clear: left;
    background: url("../images/baseball.webp");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

#contact-form {
    color: #fafafa;
    padding-left: 30px;
    padding-top: 15px;
    margin-top: 5px;
}

.contact-form {
    color: #fafafa;
    padding-left: 30px;
    padding-top: 15px;
    margin-top: 5px;
}

#contact-form h2 {
    color: #3a3a3a;
}

.text-input:hover {
    border-color: rgba(244, 10, 10, .6);
}

.join-button {
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(244, 10, 10, .6);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgba(244, 10, 10, .6);
}

#contact {
    float: right;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: right;
    margin-top: 100px;
}

.email {
    width: 33%;
    font-size: 110%;
    font-family: Merriweather, sans-serif;
    color: #3a3a3a;
}

/* Media queries section */

@media screen and (max-width: 500px) {

    /* navbar */
    .nav-list {
        flex-direction: column;
        font-size: 100%;
    }

    .hero-image {
        background-size: cover;
    }

    /* about us */

    .about-us {
        display: flex;
        flex-direction: column;
        clear: both;
    }
    
    .l-about {
        padding-top: 15px;
        width: 100%;
    }
    
    .r-about {
        padding-top: 15px;
        width: 100%;
    }
    
    .c-about {
        width: 100%;
        padding: 15px;
    }

    /* map */
    .map {
        flex-direction: column;
    }

    .map-item a {
        font-size: 75%;
    }

    /* footer */
    .social-networks {
        flex-direction: row;
        font-size: 75%;
    }

    /* schedule page */

    .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .row {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    /* gallery page */

    #gallery {
        column-count: 2;
    }

    .column {
        width: 100%;
    }

    /* contact page */

    #contact-form {
        color: #3a3a3a;
    }

    .contact-form {
        color: #3a3a3a;
    }

}

@media screen and (min-width: 500px) {

    /* navbar */
    .nav-list {
        flex-direction: column;
        font-size: 100%;
    }

    .hero-image {
        background-size: cover;
    }

    /* about us */

    .about-us {
        display: flex;
        flex-direction: column;
        clear: both;
    }
    
    .l-about {
        padding-top: 15px;
        width: 100%;
    }
    
    .r-about {
        padding-top: 15px;
        width: 100%;
    }
    
    .c-about {
        width: 100%;
        padding: 15px;
    }

    /* map */
    .map {
        flex-direction: column;
    }

    .map-item a {
        
    }

    /* footer */
    .social-networks {
        flex-direction: row;
        font-size: 100%;
    }

    /* schedule page */

    .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .row {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    /* gallery page */

    #gallery {
        column-count: 2;
    }

    .column {
        width: 100%;
    }

    #contact-form {
        color: #3a3a3a;
    }

    .contact-form {
        color: #3a3a3a;
    }
}

@media screen and (min-width: 700px) {
    /* navbar */
    .nav-list {
        flex-direction: row;
        font-size: 100%;
    }

    .hero-image {
        background-size: auto;
    }

    /* about us */

    .about-us {
        display: flex;
        flex-direction: column;
        clear: both;
    }
    
    .l-about {
        padding-top: 15px;
        width: 66%;
    }
    
    .r-about {
        padding-top: 15px;
        width: 66%;
    }
    
    .c-about {
        width: 66%;
        margin: 0 auto;
    }

    /* map */
    .map {
        flex-direction: row;
    }

    .map-item a {
        font-size: 200%;
        justify-items: center;
        align-items: center;
    }

    /* footer */
    .social-networks {
        flex-direction: row;
        font-size: 100%;
    }

    /* schedule page */

    .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .row {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    /* gallery page */

    #gallery {
        column-count: 3;
    }
}

@media screen and (min-width: 1000px) {
    
    /* navbar */
    .nav-list {
        flex-direction: row;
        font-size: 100%;
    }

    .hero-image {
        background-size: 100%;
    }

    /* about us */

    .about-us {
        display: flex;
        flex-direction: row;
    }
    
    .l-about {
        padding-top: 15px;
        width: 33%;
    }
    
    .r-about {
        padding-top: 15px;
        width: 33%;
    }
    
    .c-about {
        width: 33%;
        margin: 0 auto;
    }
    /* map */
    .map {
        flex-direction: row;
    }

    .map-item a {
        font-size: 200%;
        justify-items: center;
        align-items: center;
    }

    /* footer */
    .social-networks {
        flex-direction: row;
    }

    /* schedule page */

    .container {
        flex-direction: row;
    }

    .row {
        flex-direction: row;
    }

    /* gallery page */

    #gallery {
        column-count: 3;
    }

}