@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-style: lato, sans;
    font-weight: 300;
    color: #3a3a3a;
}

/* Style setting for Header and Logo */

h1, h2 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
}

/* nav bar styling */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}